body {
  padding: 0;
  margin: 0;
  outline: 1px solid green;
}
/* .card:hover{
  border: 1px solid #ffcd00;
            position:absolute;
            background-color: white;
            background-image: url("../src/assets/unlink.png");
            background-repeat:no-repeat;
            background-position:center center
} */
