@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap");
body {
  padding: 0;
  margin: 0;
  outline: 1px solid green;
  font-family: "Source Sans 3", sans-serif;
}
.navlink-link {
  text-decoration: none;
  color: black;
}
.navlink-link-downarrow {
  color: black;
  font-size: 15px;
}
/* .card:hover{
  border: 1px solid #ffcd00;
            position:absolute;
            background-color: white;
            background-image: url("../src/assets/unlink.png");
            background-repeat:no-repeat;
            background-position:center center
} */
